<footer id="footer">
	<div class="footMenu">
		<div class="container">
			{{~#footmenu}}
				<div class="footMenu-item footercookie col-md-3">
					<h3 class="title-foot">{{title}}</h3>
					<ul>
						{{#list}}
							<li><a href="#">{{.}}</a></li>
						{{/list}}
					</ul>
				</div>
			{{~/footmenu}}
			<div class="ss-social">
			    <div class="container">
			        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
			        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
			        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
			        <a href="#" class="google"><i class="fa fa-google"></i></a>
			    </div>
			</div>
		</div>
	</div><!-- //footMenu -->

	{{#footer}}
	<div class="footcontact bg-secondry">
		<div class="container">
			<p class="phone"><i class="fa fa-phone"></i>{{phone}}</p>
			<p class="email"><i class="fa fa-envelope-o"></i>info@yourcompany.com</p>	
		</div>
	</div><!-- //footcontact -->

	<div class="container">
		<div class="copyright">
            <div class="copyItem">&copy;{{copy}}</div>
            <div class="copyItem">{{{powered}}}</div>
	    </div><!-- //copyright -->
    </div>
	{{/footer}}
</footer> <!-- //FOOTER -->
